<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>629453991846-jm0brj6g946kkl7spftiu3r6ou7jqh73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629453991846-jm0brj6g946kkl7spftiu3r6ou7jqh73</string>
	<key>API_KEY</key>
	<string>AIzaSyAfv3a9Fd8Bg1uGBP2Eb-PXE_lMPovPCPc</string>
	<key>GCM_SENDER_ID</key>
	<string>629453991846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devslopes.firebase-sort-data</string>
	<key>PROJECT_ID</key>
	<string>fir-sort-data-f780c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sort-data-f780c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:629453991846:ios:1289c8cd494f2420</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sort-data-f780c.firebaseio.com</string>
</dict>
</plist>